body{
    background-color: #212A3E;
    color: blanchedalmond;
    margin: 20px auto;
    height: 500px;
    
    position: relative;
}
.sto{
    font-size: large;

}
.wo{
    font-size: large;
}
.con{
    font-size: large;
}
nav{
   position: absolute;

background-color: #212A3E;
   color: rgb(255, 255, 255);
}
li{
    display: inline-block;
    font-size: smaller;
    font-weight: 100;
    font-family: monospace;
justify-content: space-evenly;
position: relative;

}
nav ul{
    display: inline-block;
    padding: 9;
    margin:  10px auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 900px;
    max-height:1500px;
    align-items: center
    ;
    position: relative;
    transform: translateX(140px);
    justify-content: center;
  }
  
  .text {
    font-size: 10px;
    padding-left: 20px;
    align-content: center;
  }
  .sagar{
    transform: translate(-5px,-100px );
    font-family: cursive;
    font-size: x-large;
    font-family: 'Courier New';
  }
  .me{
transform: translate(240px,-50px);
color: gray;
font-family: monospace;
  }
  .prof{
    color: white;
    transform: translatex(220px);
    justify-content: space-evenly;
    content: normal;
    font-family: 'Courier New';
  }
  .divu{
    background-color:#8062D6;
    color: white;
    border: 20px solid #8062D6;
    border-radius: 990%;
    position: fixed;
    font-family: monospace;
    transform: translate(320px,-70px);
  }.dichu{
    background-color:#ACFADF;
    color: rgb(122, 114, 114);
    border: 20px solid #ACFADF;
    border-radius: 990%;
    font-family: monospace;
   
    bottom: 0;
    top:0;
    transform: translate(-900px,190px);
  }
  .area{
    background-color:#ACFADF;
    color: rgb(122, 114, 114);
    border: 20px solid #ACFADF;
    border-radius: 990%;
   position: fixed;
    font-family: monospace;
    transform: translate(280px,110px);
  }
 .tabla
{
   
}